.fileHeader {
  width: 100%;
  height: 68px;
  padding: 0px 26px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
}
.fileHeader-logo {
  width: 27px;
  height: 23px;
  margin-right: 10px;
}
.home-item {
  height: 38px;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  justify-content: center;
}

.home-item {
  padding-left: 15px;
  justify-content: flex-start;
}

.home-item:hover {
  background-color: #f0f0f0;
}
