.groupChat {
  width: 100%;
  height: 100%;
  padding: 10px 30px;
  box-sizing: border-box;
}
.groupChat-header {
  width: 100%;
  height: 184px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.groupChat-header-left,
.groupChat-header-right {
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 8px;
  font-size: 16px;
}
.groupChat-header-left {
  width: calc(100% - 305px);
  display: flex;
}
.groupChat-header-left-item {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.groupChat-header-left-item > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.groupChat-header-left-item > div:nth-child(1) {
  font-size: 40px;
  margin-bottom: 10px;
}
.groupChat-header-right {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.groupChat-container {
  width: 100%;
  height: calc(100% - 200px);
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 8px;
  margin-top: 16px;
  padding: 10px 15px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.groupChat-container .ant-tabs-tab-btn {
  color: #c3bebe !important;
  font-weight: bold;
}
.groupChat-container .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff !important;
}

.customer-container {
  width: 100%;
  height: calc(100vh - 360px);
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.customer-left {
  width: calc(100% - 715px);
  height: 100%;
  overflow: auto;
}
.customer-item {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  background-color: #fff;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
}
.customer-item-avatar {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customer-item-box {
  width: calc(100% - 130px);
  height: 100%;
}
.customerTask-item-box {
  width: calc(100% - 50px);
  height: 100%;
}
.customer-item-right {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.customer-item-title {
  width: 100%;
  text-align: center;
  font-size: 12px;
}
.customer-center {
  width: 480px;
  height: 100%;
}
.customer-chat-center {
  width: 480px;
  height: calc(100% - 70px);
  position: absolute;
  top: 62px;
  right: 242px;
  z-index: 5;
  overflow: hidden;
}
.customer-chat {
  width: 690px;
  height: calc(100% + 60px);
  position: absolute;
  top: -60px;
  left: -205px;
}
.customer-right {
  width: 220px;
  height: 100%;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  position: relative;
  z-index: 1;
}
.customer-right > div {
  width: 100%;
  height: 20px;
  font-size: 14px;
  color: #333333;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.customer-right > div:nth-child(odd) > div {
  width: 25px;
  display: flex;
}
.customer-right > div:nth-child(even) {
  font-size: 12px;
}
.customer-right-button {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
}
.customerTask-item {
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  background-color: #fff;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
}
.customerTask-item-avatar {
  width: 40px;
  height: 100%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
.customerTask-item-avatar > div {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

.set-container {
  width: 100%;
  height: calc(100vh - 360px);
}
.set-box {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 10px;
}
